.section1{
    background-color: rgba(10, 0, 0, .05);
}
.col-8 > div, .col-4 > div{
    background-color: #fff;
}

.col-8{
    padding: 15px;
}
.col-4{
    padding: 15px;
}

h5{
    background: -webkit-linear-gradient(right, #007bff, #6601b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ticket-details, .traveller-details, .seat-map, .price-details, .coupon-code{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.col-8 > div > hr, .col-4 > div > hr{
    margin: 0px -13px;
    border-top: 0.5px solid rgba(0,0,0,.1);
}
.ticket-details-div{
    margin: 13px 10px;
}

.time-details > div{
    text-align: center;
}
