{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Search | Flight</title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search2_style.css' %}">
    <!--<script src="{% static 'js/search.js' %}"></script>-->
    <script src="{% static 'js/search2.js' %}"></script>
{% endblock %}


{% block body %}
    <section class="section section1">
        <div class="query-data-div">
            <div class="container">
                <div class="trip-places">
                    <div class="from-div text-align-left">
                        <div class="small-label">From</div>
                        <div class="white">{{origin.city}} ({{origin.code}})</div>
                    </div>
                    <div class="trip-type-div white">
                        <div class="small-label">&nbsp;</div>
                        {% if trip_type == '2' %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        {% else %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        {% endif %}
                    </div>
                    <div class="to-div text-align-right">
                        <div class="small-label">To</div>
                        <div class="white">{{destination.city}} ({{destination.code}})</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-time">
                    <div class="depart-date-div">
                        <div class="small-label">Depart</div>
                        <div class="white">{{depart_date|date:"D, d M Y"}}</div>
                    </div>
