{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Search | Flight</title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search2_style.css' %}">
    <!--<script src="{% static 'js/search.js' %}"></script>-->
    <script src="{% static 'js/search2.js' %}"></script>
{% endblock %}


{% block body %}
    <section class="section section1">
        <div class="query-data-div">
            <div class="container">
                <div class="trip-places">
                    <div class="from-div text-align-left">
                        <div class="small-label">From</div>
                        <div class="white">{{origin.city}} ({{origin.code}})</div>
                    </div>
                    <div class="trip-type-div white">
                        <div class="small-label">&nbsp;</div>
                        {% if trip_type == '2' %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        {% else %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        {% endif %}
                    </div>
                    <div class="to-div text-align-right">
                        <div class="small-label">To</div>
                        <div class="white">{{destination.city}} ({{destination.code}})</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-time">
                    <div class="depart-date-div">
                        <div class="small-label">Depart</div>
                        <div class="white">{{depart_date|date:"D, d M Y"}}</div>
                    </div>
                    <div class="return-date-div">
                        <div class="small-label">Return</div>
                        <div class="white">
                            {% if return_date %}
                                {{return_date|date:"D, d M Y"}}
                            {% else %}
                                --
                            {% endif %}
                        </div>
                    </div>
                </div><div class="v-line"></div>
                <div class="trip-class">
                    <div class="return-date-div">
                        <div class="small-label">Class</div>
                        <div class="white">{{seat}}</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-modify">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="Origin" value="{{origin.code|upper}}">
                        <input type="hidden" name="Destination" value="{{destination.code|upper}}">
                        <input type="hidden" name="DepartDate" value='{{depart_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="ReturnDate" value='{{return_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="SeatClass" value="{{seat|lower}}">
                        <input type="hidden" name="TripType" id="trip-identifier" value="{{trip_type}}">
                        <button class="btn spl-btn" type="submit">Modify Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="query-data-div2">
            <div class="container">
                <div class="trip-modify">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="Origin" value="{{origin.code|upper}}">
                        <input type="hidden" name="Destination" value="{{destination.code|upper}}">
                        <input type="hidden" name="DepartDate" value='{{depart_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="ReturnDate" value='{{return_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="SeatClass" value="{{seat|lower}}">
                        <input type="hidden" name="TripType" value="{{trip_type}}">
                        <button class="btn spl-btn2" type="submit">
                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="trip-data">
                    <div class="trip-data-p" style="display: flex; color: white;">
                        <div>{{origin.city}}</div>
                        <div>
                            {% if trip_type == '1' %}
                                &nbsp;
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                                &nbsp;
                            {% else %}
                                &nbsp;
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                                &nbsp;
                            {% endif %}
                            
                        </div>
                        <div>{{destination.city}}</div>
                    </div>
                    <div class="trip-data-d" style="display: flex; font-size: .8em; color: rgb(240,240,240);">
                        <div>
                            {{depart_date | date:'D, d M'}}
                            {% if trip_type == '2' %}
                                |
                                {{return_date | date:'D, d M'}}     
                            {% endif %}
                            |
                            {{seat}}
                        </div>
                    </div>
                </div>
                <div class="trip-filter">
                    <button class="btn spl-btn2" onclick="show_filter()">
                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        {% if trip_type == '2' and flights %}
        <div class="query-trip-type-div">
            <div class="tabs">
                <div class="selector"></div>
                <a href="#" class="active-div" data-trip_type="1">{{origin.code}} &#8594; {{destination.code}}</a>
                <a href="#" data-trip_type="2">{{origin2.code}} &#8594; {{destination2.code}}</a>
            </div>
            <!--<div>
                <div id="flight1-btn-div" class="active-div" data-trip_type="1" onclick="trip_type_flight(this)">
                    <span>{{origin.code | upper}}</sapn>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>    
                    <span>{{destination.code | upper}}</span>
                </div>
                <div id="flight2-btn-div" data-trip_type="2" onclick="trip_type_flight(this)">
                    <span>{{destination.code | upper}}</sapn>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>    
                    <span>{{origin.code | upper}}</span>
                </div>
            </div>-->
        </div>
    {% endif %}
    <div class="query-result-div">
        <div class="container">
            <div class="row">
                {% if flights %}
                    <div class="col-lg-3 filter-div">
                        <div class="close-filter" style="margin-top: 0;">
                            <button class="btn b1" onclick="close_filter(this)">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="filter">
                            <center>
                                <h4>Filter Results</h4>
                            </center>
                            <div class="filter-box">
                                <div class="filter-price">
                                    <div class="font-weight-bold">Price</div>
                                    <div>
                                        <input type="range" class="form-control-range" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}" oninput="filter()">
                                        <div class="price-range-output">
                                            <div class="initial-price-range">
                                                <span class="currency-symbol">₹</span>
                                                <span class="initial-price-value">{{min_price}}</span>
                                            </div>
                                            <div class="final-price-range">
                                                <span class="currency-symbol">₹</span>
                                                <span class="final-price-value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!---->
                                <div class="time-slot departure-time-slot-group">
                                    <div class="font-weight-bold">Departure Time</div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="square-box" onclick="filter(this)" data-type="departure" data-start="0" data-end="6">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/morning_inactive.png' %}" alt="" data-statefor="inactive">
                                                    <img src="{% static 'img/morning_active.png' %}" alt="" data-statefor="active" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                Before 6 AM
                                            </div>
                                        </div>
                                        <div class="square-box" onclick="filter(this)" data-type="departure" data-start="6" data-end="12">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/noon_inactive.png' %}" alt="" data-statefor="inactive">
                                                    <img src="{% static 'img/noon_active.png' %}" alt="" data-statefor="active" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                6 am - 12 pm
                                            </div>
                                        </div>
                                        <div class="square-box" onclick="filter(this)" data-type="departure" data-start="12" data-end="18">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/evening_inactive.png' %}" alt="" data-statefor="inactive">
                                                    <img src="{% static 'img/evening_active.png' %}" alt="" data-statefor="active" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                12 pm - 6 pm
                                            </div>
                                        </div>
                                        <div class="square-box" onclick="filter(this)" data-type="departure" data-start="18" data-end="24">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/night_inactive.png' %}" alt="" data-statefor="inactive">
                                                    <img src="{% static 'img/night_active.png' %}" alt="" data-statefor="active" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                After 6 pm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="time-slot arrival-time-slot-group">
                                    <div class="font-weight-bold">Arrival Time</div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="square-box" onclick="filter(this)" data-type="arrival" data-start="0" data-end="6">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/morning_inactive.png' %}" alt="" data-statefor="inactive">
                                                    <img src="{% static 'img/morning_active.png' %}" alt="" data-statefor="active" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                Before 6 AM
                                            </div>
                                        </div>
